/* only for compatibility with pcstyles.css 
   this is important for mywebsite/components/photogallery.js to have the
   imageLoaded() method work correctly
*/
html {
}

.thumbnail {
	width: 150px;
	height: 150px;
}

.maindisplayDiv {
	/* the width and height attribute plus 2*3 (2px margin + 1px border = 3px, 
	   both left and right), to align nicely with first thumbnail
	*/
	margin-left: 156px;
	margin-right: 156px;
}

.mainDisplayInSeries {
	width: 525px;
}

.mainDisplay {
	width: 525px;
}

.clickMe {
	width: 75px;
	height: 75px;
}
